reactos/lib/libxml2/test/schemas/all.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="PurchaseOrderType">
    <xsd:sequence>
      <xsd:all>
        <xsd:element name="shipTo" type="USAddress"/>
        <xsd:element name="billTo" type="USAddress"/>
        <xsd:element name="items" type="Items"/>
      </xsd:all>
      <xsd:sequence>
        <xsd:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:sequence>
    <xsd:attribute name="orderDate" type="xsd:date"/>
  </xsd:complexType>
</xsd:schema>
