reactos/lib/libxml2/test/schemas/all_0.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="doc">
    <xsd:complexType>
      <xsd:all minOccurs="1">
        <xsd:element name="a"/>
        <xsd:element name="b"/>
        <xsd:element name="c"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
