reactos/lib/libxml2/test/schemas/any1_0.xsd

<?xml version="1.0"?>
<!-- Tests xsd:any with "##any". -->
<xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://FOO"
	xmlns:foo="http://FOO">		

	<xsd:element name="boo">
		<xsd:complexType>
			<xsd:attribute name="booAttr" type="xsd:integer" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="foo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="3"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>