reactos/lib/libxml2/test/schemas/any2_0.xsd

<?xml version="1.0"?>
<!-- Tests xsd:any with a set of namespaces, icluding 
	"##local" and "##targetNamespace". -->
<xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://FOO"
	xmlns:foo="http://FOO">		

	<xsd:element name="boo">
		<xsd:complexType>
			<xsd:attribute name="booAttr" type="xsd:integer" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="foo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:any 
					namespace="##targetNamespace http://BAR ##local" 
					processContents="lax" 
					maxOccurs="3"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>