reactos/lib/libxml2/test/schemas/any4_0.xsd

<?xml version="1.0"?>
<xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://FOO"
	xmlns:foo="http://FOO">		

	<xsd:element name="boo">
		<xsd:complexType>
			<xsd:attribute name="booAttr" type="xsd:integer" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="foo">
		<xsd:complexType>
			<xsd:choice>
				<xsd:any namespace="http://FOO" processContents="lax" maxOccurs="1"/>
				<xsd:element name="anything" form="qualified">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="foo:boo"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>