reactos/lib/libxml2/test/schemas/anyAttr.importB.1_0.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:attributeGroup name="attrGr.inters.6_1">
		<xsd:anyAttribute namespace="##other"/>
	</xsd:attributeGroup>

	<xsd:complexType name="imp.type.base.inters.4_1">	
		<xsd:anyAttribute namespace="##other" processContents="lax"/>	
	</xsd:complexType>

	<xsd:complexType name="imp.type.base.derive.4_1">	
		<xsd:anyAttribute namespace="##other" processContents="lax"/>	
	</xsd:complexType>

	<xsd:complexType name="imp.type.base.derive.6">	
		<xsd:anyAttribute namespace="##other" processContents="lax"/>	
	</xsd:complexType>

</xsd:schema>

