reactos/lib/libxml2/test/schemas/anyAttr.importA.1_0.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://IMPORT" 
	xmlns:imp="http://IMPORT" xmlns:boo="http://BOO">

	<xsd:attributeGroup name="attrGr.inters.5_1">
		<xsd:anyAttribute namespace="##other"/>
	</xsd:attributeGroup>	

	<xsd:element name="imp.element"/>		

	<xsd:attribute name="imp.attribute" type="xsd:string"/>

	<xsd:group name="imp.group">
		<xsd:sequence>
			<xsd:element ref="imp:imp.element"/>
		</xsd:sequence>
	</xsd:group>

	<xsd:complexType name="imp.complexType">
		<xsd:attribute ref="imp:imp.attribute"/>
	</xsd:complexType>

</xsd:schema>

