reactos/lib/libxml2/test/schemas/derivation-restriction-anyType.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://FOO" targetNamespace="http://FOO">

	<xs:element name="foo">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="xs:anyType">
					<xs:attribute name="barA_1" type="xs:string"  use="optional"/>
					<!-- OK -->								
					<xs:attribute name="barA_2" type="xs:string"  use="required"/>
					<!-- OK -->									
					<xs:attribute name="barA_3" type="xs:string"  use="prohibited"/>
					<!-- OK -->	
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>	

</xs:schema>


