reactos/lib/libxml2/test/schemas/derivation-restriction-anyAttr_0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 	
	elementFormDefault="unqualified">

	<xs:element name="foo">
		<xs:complexType>
		    <xs:sequence>
				<xs:element name="bar" type="typeA"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:attributeGroup name="attrGrA">
		<xs:anyAttribute namespace="##targetNamespace"/>
	</xs:attributeGroup>

	<xs:complexType name="typeA">				
		<xs:attributeGroup ref="attrGrA" />					
		<xs:anyAttribute namespace="##targetNamespace" processContents="lax"/>	
	</xs:complexType>

</xs:schema>


