reactos/lib/libxml2/test/schemas/deter0_0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="odd-page" type="xs:string"/>
  <xs:element name="even-page" type="xs:string"/>
  <xs:element name="book">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="odd-page"/>
          <xs:element ref="even-page"/>
        </xs:sequence>
        <xs:element ref="odd-page" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
