reactos/lib/libxml2/test/schemas/empty_1.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="internationalPrice">
    <xsd:complexType>
      <xsd:attribute name="currency" type="xsd:string"/>
      <xsd:attribute name="value" type="xsd:decimal"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
