reactos/lib/libxml2/test/schemas/extension0_0.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="personName">
    <xs:sequence>
      <xs:element name="title" minOccurs="0"/>
      <xs:element name="forename" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="surname"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="extendedName">
    <xs:complexContent>
      <xs:extension base="personName">
        <xs:sequence>
          <xs:element name="generation" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="addressee" type="extendedName"/>
</xs:schema>
