reactos/lib/libxml2/test/schemas/include1_0.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://FOO"
	xmlns:foo="http://FOO" version="">
	<xsd:include schemaLocation="include1_0.inc" />
	<xsd:element name="foo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="foo:bar"/>
				<xsd:element name="boo" type="xsd:string"/>
			</xsd:sequence>	
			<xsd:attribute name="req" use="required" form="qualified"/>		
		</xsd:complexType>
	</xsd:element>
</xsd:schema>