reactos/lib/libxml2/test/schemas/length3_0.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="length3">
    <xs:sequence>
      <xs:element name="size" type="xs:non-positive-integer"/>
      <xs:element name="unit" type="xs:NMTOKEN"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="depth" type="length3"/>
</xs:schema>
