reactos/lib/libxml2/test/schemas/length2_0.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="length2">
    <xs:complexContent>
      <xs:restriction base="xs:anyType">
        <xs:sequence>
          <xs:element name="size" type="xs:nonNegativeInteger"/>
          <xs:element name="unit" type="xs:NMTOKEN"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="depth" type="length2"/>
</xs:schema>
