reactos/lib/libxml2/test/relaxng/empty1.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <ref name="top"/>
  </start>
  <define name="empty">
    <empty/>
  </define>
  <define name="top">
    <element name="top">
      <choice>
        <ref name="empty"/>
        <element name="a">
	  <text/>
        </element>
      </choice>
    </element>
  </define>
</grammar>
