reactos/lib/libxml2/test/relaxng/inline.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <ref name="inline"/>
  </start>

  <define name="inline">
    <zeroOrMore>
      <choice>
        <text/>
        <element name="code">
          <ref name="inline"/>
        </element>
        <element name="em">
          <ref name="inline"/>
        </element>
        <!-- etc -->
      </choice>
    </zeroOrMore>
  </define>
</grammar>
