reactos/lib/libxml2/test/relaxng/inline3.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0">

  <define name="inline">
    <zeroOrMore>
      <choice>
	<text/>
	<element name="bold">
	  <ref name="inline"/>
	</element>
	<element name="italic">
	  <ref name="inline"/>
	</element>
	<ref name="inline.extra"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="inline.extra">
    <notAllowed/>
  </define>

</grammar>
