reactos/lib/libxml2/test/relaxng/interleave1_0.rng

<element name="doc" xmlns="http://relaxng.org/ns/structure/1.0">
  <interleave>
    <element name="a">
      <empty/>
    </element>
    <zeroOrMore>
      <element name="b">
        <empty/>
      </element>
    </zeroOrMore>
  </interleave>
  <element name="c">
    <empty/>
  </element>
</element>
