reactos/lib/libxml2/test/relaxng/interleave0_0.rng

<element name="addressBook"  xmlns="http://relaxng.org/ns/structure/1.0">
  <zeroOrMore>
    <element name="card">
      <interleave>
        <zeroOrMore>
	  <element name="name">
	    <text/>
	  </element>
	  <element name="email">
	    <text/>
	  </element>
        </zeroOrMore>
        <zeroOrMore>
	  <element name="company">
	    <text/>
	  </element>
	  <element name="email">
	    <text/>
	  </element>
        </zeroOrMore>
      </interleave>
    </element>
  </zeroOrMore>
</element>
