reactos/lib/libxml2/test/relaxng/tutor10_5.rng

<element name="addressBook" ns="http://www.example.com"
         xmlns="http://relaxng.org/ns/structure/1.0">
  <zeroOrMore>
    <element name="card">
      <element name="name">
        <text/>
      </element>
      <element name="email">
        <text/>
      </element>
    </element>
  </zeroOrMore>
</element>
