reactos/lib/libxml2/test/relaxng/tutor10_10.rng

<element name="addressBook" ns="http://www.example.com/addressBook"
         xmlns="http://relaxng.org/ns/structure/1.0">
  <zeroOrMore>
    <element name="card" ns="http://www.example.com/addressBook">
      <element name="name" ns="http://www.example.com/address">
        <text/>
      </element>
      <element name="email" ns="http://www.example.com/address">
        <text/>
      </element>
    </element>
  </zeroOrMore>
</element>
