reactos/lib/libxml2/test/relaxng/tutor9_1.rng

<element name="addressBook" xmlns="http://relaxng.org/ns/structure/1.0">
  <zeroOrMore>
    <element name="card">
      <element name="name">
        <text/>
      </element>
      <element name="email">
        <text/>
      </element>
      <optional>
	<element name="note">
	  <externalRef href="inline.rng"/>
	</element>
      </optional>
    </element>
  </zeroOrMore>
</element>
