reactos/lib/libxml2/test/relaxng/tutor10_6.rng

<element name="addressBook" ns="http://www.example.com"
         xmlns="http://relaxng.org/ns/structure/1.0">
  <zeroOrMore>
    <element name="card" ns="http://www.example.com">
      <element name="name" ns="http://www.example.com">
        <text/>
      </element>
      <element name="email" ns="http://www.example.com">
        <text/>
      </element>
    </element>
  </zeroOrMore>
</element>
