reactos/lib/libxml2/test/relaxng/tutor10_4.rng

<element name="addressBook" ns="" xmlns="http://relaxng.org/ns/structure/1.0">
  <zeroOrMore>
    <element name="card" ns="">
      <element name="name" ns="">
        <text/>
      </element>
      <element name="email" ns="">
        <text/>
      </element>
    </element>
  </zeroOrMore>
</element>
