reactos/lib/libxml2/test/relaxng/tutor9_6.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0">

  <start>
    <element name="addressBook">
      <zeroOrMore>
	<element name="card">
	  <ref name="card.attlist"/>
	</element>
      </zeroOrMore>
    </element>
  </start>

  <define name="card.attlist">
    <group>
      <attribute name="name">
	<text/>
      </attribute>
      <attribute name="email">
	<text/>
      </attribute>
    </group>
  </define>

</grammar>
